@import "./comman/color.scss";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
a {
  text-decoration: none;
  color: $font-primary;
}

body {
  background: $primary-color;
}
.container {
  margin: 0px 40px;
}
.welcome-page {
  height: 100vh;
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center; 
  flex-direction: column;

  h1 {
    font-size: 4rem;
    color: #268dd1;
  }

  p {
    font-size: 1.5rem;
    color: #333;
  }
}
